{% extends 'base.html.twig' %}

{% block title %}Categorías!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ action }} Categoría</h1>
        <hr>

        {{ form(form) }}
    </div>
{% endblock %}
