{% extends 'base.html.twig' %}

{% block title %}Create Post!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Crear Post</h1>
        <hr>

        {{ form(form) }}
    </div>
{% endblock %}
